NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_BRAND_NAME="KHADIJA-TUL-QUBRAH BY Meer&Mus"
NEXT_PUBLIC_BRAND_PRIMARY_DISPLAY="KHADIJA-TUL-QUBRAH"
NEXT_PUBLIC_BRAND_SIGNATURE="BY Meer&Mus"
